* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  /* rem = 10px */
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.titulo {
  color: #ff0000;
}

.titulo p {
  font-size: 3.1rem;
}
/***** HEADER ******/
header .header1 {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 6rem;
  justify-content: space-evenly;
  align-items: center;
}

header .header2 {
  display: flex;
  width: 100%;
  background-color: #173083;
  color: #fff;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
}

header p {
  font-size: 2.1rem;
  font-weight: 800;
}

.logo1,
.logo2 {
  display: flex;
  align-items: center;
}

.logo1 img {
  width: 70%;
  height: 7rem;
  padding-right: 2rem;
}

.logo2 img {
  width: 70%;
  height: 8rem;
  padding: 2rem;
}

.linea-vertical {
  width: 0.2rem;
  height: 4rem;
  background-color: #fff;
}

/********** MAIN ********/
main {
  background-image: url(../img/FONDO.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 53rem;
  width: 100%;
}
.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 53rem;
}

.imagen-hamburguesa img {
  height: 100%;
  width: 100%;
}

.imagen-hamburguesa {
  width: 70%;
}

.texto {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.texto p {
  font-size: 2.7rem;
  font-weight: 800;
}

.texto img {
  width: 80%;
  height: 24rem;
}

/********** FOOTER ********/

footer {
  background-color: #173083;
  color: #fff;
  height: auto;
}

footer section {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 2rem;
  font-weight: 700;
}

.footer1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}

.footer2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.contenedor-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.pages1 {
  display: flex;
  gap: 10rem;
  padding: 1rem 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 16rem;
  height: 100%;
  padding: 0rem;
}

.footer1 a:hover {
  cursor: pointer;
  color: #f2542d;
}

.footer-iconos {
  margin-top: 4rem;
}

.footer-iconos img {
  padding-right: 4rem;
  width: 10rem;
}

.footer-separacion {
  height: 0.3rem;
  width: 90%;
  background-color: #000;
  margin: auto;
}
.copyright {
  height: 100%;
  text-align: center;
  padding-bottom: 0.6rem;
}

.copyright p {
  font-size: 1.8rem;
}

/*****   PAGINA NOSOTROS  *****/

main.contenedor-nosotros,
main.contenedor-politicas,
main.contenedor-terminos,
main.contenedor-inicioSesion {
  background-image: none;
}

.titulo-nosotros p {
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.8rem;
}

.container-nosotros {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 48.3rem;
  padding: 1rem 0;
}

.imagen-nosotros {
  height: auto;
  display: flex;
  justify-content: center;
}

.imagen-nosotros img {
  border-radius: 0.8rem;
  width: 40rem;
  height: 40rem;
}

.texto-nosotros {
  font-size: 1.8rem;
  padding: 2rem 5rem 0rem 0rem;
  font-weight: 500;
}

.texto-nosotros p {
  line-height: 4rem;
}

/**** POLITICAS DELIVERY *****/
.contenedor-politicas .horario {
  text-align: center;
  width: 50rem;
  margin: auto;
}
.contenedor-politicas ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
}

li {
  text-align: right;
}
.first-day {
  grid-column-start: 3;
}

.day-name {
  background: #eee;
  font-weight: bold;
}

.contenedor-politicas p {
  font-size: 1.8rem;
  padding: 1rem 4rem;
}

.contenedor-politicas > div {
  height: auto;
}

.horario h1 {
  font-size: 3rem;
}

.horario li {
  font-size: 2rem;
}

/******** TERMINOS Y CONDICIONES ******/

.contenedor-terminos p {
  font-size: 1.5rem;
  padding: 5rem;
  line-height: 3rem;
}

/******** INICIO-SESION ******/

.inicioSesion {
  display: flex;
  flex-direction: row;
}
.inicioSesion,
.imagen-inicioSesion,
.imagen-izquierda {
  height: 100%;
}

.imagen-inicioSesion,
.formulario-inicio {
  width: 50%;
}

.imagen-inicioSesion img {
  width: 100%;
}

.formulario-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.formulario-inicio h1 {
  text-transform: uppercase;
  font-weight: 800;
}

.grupo_input {
  background: #d9d9d9;
  margin: 1.8rem 0;
  z-index: 1;
  border-radius: 1rem;
  overflow: hidden;
}

.grupo_input i {
  padding: 1rem;
  font-size: 2rem;
}

.grupo_input input {
  background: #d9d9d9;
  font-weight: 900;
  padding: 1rem;
  color: #000;
  text-decoration: none;
  outline: 0;
}

.formulario-inicio a {
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
  font-size: 1.8rem;
  width: 20rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.ingresar {
  background-color: #173083;
}

.registrarse {
  background-color: #fbb905;
}

/***  CREACION DE CUENTA ***/

form {
  text-align: center;
}

input[type="submit"] {
  background-color: #fbb905;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #fff;
}
@media (max-width: 768px) and (min-width: 391px) {
  header .header1,
  header .header2 {
    height: 8rem;
  }

  .logo1 img {
    width: 48%;
  }

  .titulo p {
    font-size: 2.1rem;
    text-align: center;
  }
  main {
    height: 56rem;
  }
  footer section {
    padding: 0rem 1rem;
  }
  .container-nosotros {
    grid-template-columns: none;
  }

  .texto-nosotros {
    position: absolute;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .texto-nosotros p {
    line-height: 3.8rem;
    color: white;
  }
  .imagen-nosotros {
    height: 64%;
  }
  .imagen-nosotros img {
    width: 100%;
    height: 100%;
    /* -webkit-filter: contrast(80%); */
    filter: brightness(0.6);
  }
  .contenedor-terminos {
    overflow: scroll;
  }
}

@media (max-width: 390px) {
  /* HEADER */

  header .header1,
  header .header2 {
    height: 6rem;
  }
  header p {
    font-size: 1.5rem;
    font-weight: 800;
  }
  header .header2 {
    justify-content: normal;
  }
  .logo1 img {
    padding-right: 0rem;
  }

  /* MAIN */
  main .container {
    display: grid;
    gap: 0;
    grid-template-rows: 20% 80%;
  }

  .imagen-hamburguesa {
    width: 100%;
    grid-row: 2/2;
    height: 100%;
  }

  .texto {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
  }

  .texto p {
    font-size: 1.5rem;
  }

  .texto img {
    width: 50%;
    height: 10rem;
  }
  /* FOOTER */
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer1 {
    margin: auto;
  }

  .pages1 {
    gap: 5rem;
  }

  .footer-logo {
    gap: 4rem;
  }
  .footer-logo img {
    width: 10rem;
  }

  .footer2 {
    margin: auto;
  }
  .footer-iconos {
    margin-top: 1rem;
  }

  /* NOSOTROS */
  .nosotros .logo1 img {
    width: 40%;
    height: 7rem;
  }

  .nosotros .titulo p {
    font-size: 2rem;
  }

  .nosotros .logo1 {
    width: 13rem;
  }
  .container-nosotros {
    display: grid;
    height: 48.3rem;
    grid-template-columns: none;
  }

  .texto-nosotros {
    position: absolute;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .texto-nosotros p {
    line-height: 1.8rem;
    color: white;
  }

  .imagen-nosotros img {
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    /* -webkit-filter: contrast(80%); */
    filter: brightness(0.6);
  }

  /* POLITICAS DE DELIVERY */

  .header2 .politicas p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .logo2 img {
    width: 41%;
    height: 9rem;
    padding: 1rem;
  }

  .nosotros .titulo {
    text-align: center;
  }

  .contenedor-politicas p {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  .contenedor-politicas .horario {
    width: 80%;
  }

  /******** TERMINOS Y CONDICIONES ******/
  .contenedor-terminos {
    overflow: scroll;
  }

  .contenedor-terminos p {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.2rem;
  }

  /*INICIO SESION*/
  .grupo_input {
    width: 88%;
    display: flex;
  }

  .grupo_input input {
    width: 100%;
  }

  .formulario-inicio a {
    width: 16rem;
  }

  /***  CREACION DE CUENTA ***/
  form {
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
  }

  form.creacion .grupo_input {
    margin: 1rem 0;
    text-align: center;
    align-items: center;
  }
}
