.titulo {
    color: $colorRojo;
}

.titulo p {
    font-size: 3.1rem;
}

main.contenedor-nosotros,
main.contenedor-politicas,
main.contenedor-terminos,
main.contenedor-inicioSesion,
main.contenedor-terminos2 {
    background-image: none;
}
